<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>

<div class="filemanager">

    <div class="">
        <div class="breadcrumbs"></div>
    </div>


    <ul class="data">

    </ul>

    <div class="nothingfound">
        <div class="nofiles"></div>
        <span>No files here.</span>
    </div>

</div>

<!-- Include our script files -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
